
<div class="container">

    <br>
<form action="/adminKullaniciEkle" method="post">

    <div class="mb-3">
        <label for="">Kullanıcı Adı</label>
        <input type="text" required class="form-control"  name="kullaniciAdi" placeholder="Kullanıcı adını yazınız...">
    </div>

    <div class="mb-3">
        <label for="">Şifre</label>
        <input type="password" required class="form-control" name="sifre" placeholder="Şifreyi yazınız...">
    </div>

    <div class="mb-3">
        <a type="submit" class="btn btn-danger" href="/adminKullanicilar">İptal</a>
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>

</form>
   



</div>